<h1 mat-dialog-title>Crie um processo</h1>
<div mat-dialog-content style="display: flex; flex-direction: column">
  <mat-form-field appearance="fill">
    <mat-label>Nome do processo</mat-label>
    <input matInput [(ngModel)]="data.name" />
  </mat-form-field>
</div>
<div mat-dialog-actions class="d-flex justify-content-around w-100">
  <button mat-flat-button type="button" color="warn" (click)="onCancel()">
    Cancelar
  </button>
  <button
    mat-flat-button
    type="button"
    color="primary"
    [mat-dialog-close]="data"
    cdkFocusInitial
  >
    Criar
  </button>
  <!--
  <button
    class="custom-button-cancel border-0 ml-2 btn-icon btn-icon-only btn-pill btn btn-outline-focus btn-sm"
    mat-button
    (click)="onCancel()"
  >
    Cancelar
  </button>
  <button
    mat-button
    [mat-dialog-close]="data"
    cdkFocusInitial
    class="custom-button-create border-0 ml-2 btn-icon btn-icon-only btn-pill btn btn-outline-focus btn-sm"
  >
    <i class="bi bi-file-plus" style="margin-right: 5px"></i>
    Criar
  </button>
--></div>
