<h5 class="fs-4 mb-3">Documentos do Processo</h5>
<button
  mat-button
  type="button"
  (click)="addDocument()"
  data-btn="add-document"
  color="primary"
  class="mb-2"
>
  <mat-icon>note_add</mat-icon>
  Anexe um documento
</button>
<div
  class="container row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 w-100"
  data-cy="document-list"
>
  <button
    *ngFor="let doc of documents"
    mat-stroked-button
    type="button"
    (click)="selectDocument(doc.id)"
    class="col text-muted"
    data-cy="document-icon"
  >
    {{ doc.name }}
  </button>
</div>
