<div class="card" style="width: 40rem" data-cy="login-form">
  <div class="card-body">
    <h5 class="card-title">Bem-vindo de volta!</h5>
    <form #loginForm="ngForm">
      <div class="mb-3">
        <label for="inCpf" class="form-label">CPF</label>
        <input
          type="text"
          class="form-control"
          id="inCpf"
          [(ngModel)]="cpf"
          name="cpf"
          #name="ngModel"
          (ngModelChange)="updateCpf($event)"
          required
        />
        <div
          [hidden]="!submitted || cpf !== ''"
          class="alert alert-danger"
          data-cy="login-cpf-missing"
        >
          Campo CPF é obrigatório.
        </div>
        <div [hidden]="!cpfInvalid" class="alert alert-danger">
          CPF deve ser apenas números.
        </div>
      </div>
      <div class="mb-3">
        <label for="inPassword" class="form-label">Senha</label>
        <input
          type="password"
          class="form-control"
          id="inPassword"
          [(ngModel)]="password"
          name="password "
          required
        />
        <div
          [hidden]="!submitted || passwordIsValid()"
          class="alert alert-danger"
          data-cy="login-password-missing"
        >
          Campo senha é obrigatório
        </div>
      </div>
      <div class="mb-3 form-check">
        <input
          type="checkbox"
          class="form-check-input"
          id="inCheck"
          [(ngModel)]="rememberUser"
          name="rememberUser"
        />
        <label class="form-check-label fst-italic fs-6" for="inCheck"
          >Lembre-se de mim.</label
        >
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        (click)="loginUser()"
        data-cy="login-btn"
      >
        Login
      </button>
    </form>
  </div>
</div>
