<div class="card" style="width: 40rem;">
  <div class="card-body">
    <h5 class="card-title">Bem-vindo de volta!</h5>
    <form>
      <div class="mb-3">
	<label for="inCpf" class="form-label">CPF</label>
	<input type="text" class="form-control" id="inCpf">
      </div>
      <div class="mb-3">
	<label for="inPassword" class="form-label">Senha</label>
	<input type="password" class="form-control" id="inPassword">
      </div>
      <div class="mb-3 form-check">
	<input type="checkbox" class="form-check-input" id="inCheck">
	<label class="form-check-label fst-italic fs-6" for="inCheck">Lembre-se de mim.</label>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>
