<h1 mat-dialog-title>Crie um processo</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Nome do processo</mat-label>
    <input matInput [(ngModel)]="data.name" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Data de início</mat-label>
    <input matInput [(ngModel)]="data.startDate" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Juiz</mat-label>
    <input matInput [(ngModel)]="data.judge" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Status</mat-label>
    <input matInput [(ngModel)]="data.status" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Criar</button>
</div>
