<div *ngIf="!user" fxLayout="row" fxLayout.lt-md="column">
  <a mat-button routerLink="/"> <mat-icon>home</mat-icon> Home </a>
  <a mat-button routerLink="/cadastro" data-link="signup">
    <mat-icon>person_add</mat-icon>Cadastro
  </a>
  <a mat-button routerLink="/login" data-link="login">
    <mat-icon>person</mat-icon>Login
  </a>
</div>

<div *ngIf="user" fxLayout="row" fxLayout.lt-md="column">
  <a mat-button routerLink="/"> <mat-icon>home</mat-icon> Home </a>
  <a mat-button routerLink="/perfil" data-link="profile">
    <mat-icon>manage_accounts</mat-icon>Perfil
  </a>
  <a mat-button routerLink="/processos" data-link="proccesses">
    <mat-icon>list</mat-icon>Processos
  </a>
  <button mat-button (click)="logout()" data-btn="logout">
    <mat-icon>login</mat-icon>Logout
  </button>
</div>
