@import "~bootstrap-icons/font/bootstrap-icons.css";

.custom-nav-item {
  display: flex;
  align-items: center;
  border-radius: 1rem;
  padding: 0.25rem;
}

.custom-navbar {
  width: 65%;
  display: flex;
  justify-content: space-around;
}

.custom-nav-item:hover {
  background-color: #f7934c;
}
