@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
  margin: 0%;
}

.custom-nav-item {
  display: flex;
  align-items: center;
  border-radius: 1rem;
  padding: 0.25rem;
}

.custom-navbar {
  width: 65%;
  display: flex;
  justify-content: space-around;
}

.custom-nav-item:hover {
  background-color: #5894ee;
}

.spacer {
  display: flex;
  flex: 1 1 auto;
}

.companyName {
  font-size: 150%;
}
div {
  overflow: inherit;
}
a {
  text-decoration: none;
  font-size: 110%;
  white-space: normal;
}
button {
  font-size: 110%;
  min-width: min-content;
}
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
.mat-sidenav-content {
  font-size: 200%;
  text-align: center;
}
