<div *ngIf="proccess">
  <div class="process-detail-body">
    <a class="nav-link" routerLink="/perfil">
      <i class="bi bi-arrow-left-circle"></i>
    </a>
    <h5 class="fs-2">{{ proccess.name }}</h5>
    <p>
      Juiz: <span class="fst-italic text-muted">{{ proccess.judge }}</span>
    </p>
    <p>
      Data de início:
      <span class="fst-italic text-muted"
        >{{ proccess.startDate.getDate() }}/{{
          proccess.startDate.getMonth()
        }}/{{ proccess.startDate.getFullYear() }}</span
      >
    </p>
    <div *ngIf="proccess.status === 'concluído'">
      <p>
        Status:
        <span class="fst-italic text-success">{{ proccess.status }}</span>
      </p>
    </div>
    <div *ngIf="proccess.status === 'atrasado'">
      <p>
        Status:
        <span class="fst-italic text-danger">{{ proccess.status }}</span>
      </p>
    </div>
    <div *ngIf="proccess.status === 'em andamento'">
      <p>
        Status:
        <span class="fst-italic text-primary">{{ proccess.status }}</span>
      </p>
    </div>

    <h5 class="fs-4 mb-4">Documentos do Processo</h5>
    <ul
      class="list-unstyled row row-cols-5 row-cols-md-5 g-2"
      style="width: 60%"
      data-cy="document-list"
    >
      <li>
        <div class="card text-center">
          <button
            (click)="toggleAddDocument()"
            class="btn btn-outline-secondary document-list-icon"
            data-btn="add-document"
          >
            <i class="bi bi-plus d-block doc-list-item"></i>
          </button>
        </div>
      </li>
      <li *ngFor="let doc of documents" class="col">
        <div class="card text-center">
          <button
            (click)="selectDocument(doc.id)"
            class="btn btn-outline-secondary document-list-item"
          >
            <i class="bi bi-file-earmark-text document-list-icon"></i>
            <small>{{ doc.name }}</small>
          </button>
        </div>
      </li>
    </ul>
  </div>
  <div *ngIf="selectedDoc">
    <div class="modal" tabindex="-1" aria-labelledby="documentModalLabel">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="documentModalLabel">
              {{ selectedDoc.name }}
            </h5>
            <button
              (click)="unselectDocument()"
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
              data-btn="close-doc-1"
            ></button>
          </div>
          <div class="modal-body">
            Did you ever hear the Tragedy of Darth Plagueis the wise? I thought
            not. It's not a story the Jedi would tell you. It's a Sith legend.
            Darth Plagueis was a Dark Lord of the Sith, so powerful and so wise
            he could use the Force to influence the midichlorians to create
            life... He had such a knowledge of the dark side that he could even
            keep the ones he cared about from dying. The dark side of the Force
            is a pathway to many abilities some consider to be unnatural. He
            became so powerful... the only thing he was afraid of was losing his
            power, which eventually, of course, he did. Unfortunately, he taught
            his apprentice everything he knew, then his apprentice killed him in
            his sleep. It's ironic he could save others from death, but not
            himself.
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              (click)="deleteDocument(selectedDoc.id)"
            >
              Remover
            </button>
            <button
              (click)="unselectDocument()"
              type="button"
              class="btn btn-secondary"
              data-btn="close-doc-2"
            >
              Fechar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="showDocModal">
    <div class="modal" tabindex="-1" aria-labelledby="addDocModalLabel">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addDocModalLabel">
              Adicione um documento
            </h5>
            <button
              (click)="toggleAddDocument()"
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <div class="modal-body">
            <form #documentForm="ngForm">
              <div class="mb-3">
                <label for="inFile" class="form-label"
                  >Arquivo para anexo</label
                >
                <input
                  [(ngModel)]="selFile"
                  name="selFile"
                  #name="ngModel"
                  class="form-control"
                  type="file"
                  id="inFile"
                  required
                />
                <div
                  [hidden]="!submitted || fileIsValid"
                  class="alert alert-danger"
                  data-error="document-format"
                >
                  Os formatos de documento suportados são: PDF, PNG e JPG. Por
                  favor, escolha um deles
                </div>
              </div>
              <div class="mb-3">
                <label for="docName" class="form-label"
                  >Nome do documento</label
                >
                <input
                  [(ngModel)]="newDocName"
                  name="newDocName"
                  #name="ngModel"
                  type="text"
                  class="form-control"
                  id="newDocName"
                  required
                />
                <div
                  [hidden]="!submitted || newDocName != ''"
                  class="alert alert-danger"
                  data-error="document-name"
                >
                  o campo "Nome do documento" é obrigatório
                </div>
              </div>
              <div class="mb-3">
                <label for="inDate" class="form-label">Data de anexo</label>
                <input
                  [(ngModel)]="currDate"
                  name="currDate"
                  #name="ngModel"
                  type="date"
                  class="form-control"
                  id="inDate"
                  required
                />
                <div
                  [hidden]="!submitted || currDate"
                  class="alert alert-danger"
                  data-error="document-date"
                >
                  o campo "Data de anexo" é obrigatório
                </div>
              </div>
            </form>
          </div>

          <div class="modal-footer">
            <button
              (click)="toggleAddDocument()"
              type="button"
              class="btn btn-danger"
            >
              Cancelar
            </button>
            <button
              (click)="validateFile()"
              type="button"
              class="btn btn-primary"
              data-btn="save-document"
            >
              Salvar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
