<div class="card" style="width: 45rem">
  <div class="card-body">
    <h5 class="card-title fs-4 mb-4">Perfil</h5>
    <form>
      <div class="mb-3">
        <label for="inName" class="form-label">Nome</label>
        <input type="text" class="form-control" />
      </div>

      <div class="mb-3">
        <label for="inCpf" class="form-label">CPF</label>
        <input type="text" class="form-control" />
      </div>

      <div class="mb-3">
        <label for="inEmail" class="form-label">E-mail</label>
        <input type="email" class="form-control" />
      </div>

      <div class="mb-3">
        <label for="inPhone" class="form-label">Telefone</label>
        <input type="text" class="form-control" />
      </div>

      <div class="mb-4">
        <label for="inPassword" class="form-label">Senha</label>
        <input type="password" class="form-control" />
      </div>

      <button type="submit" class="btn btn-primary btn-sm">
        Salvar mudanças
      </button>
    </form>
  </div>
</div>
